{
  "api": "http://api.ringcaptcha.com",
  "cdn": "http://mycdn.com",
  "locale": {
    "default": "en",
    "available": ["bg", "en", "es", "gr", "fr", "ar", "pt", "ru", "it", "de", "nl", "sr", "sv", "tr", "fi", "ja", "zh"]
  }
}
