<div class="wizard-success-step">
  <div class="wizard-step-content">
    <div class="notification-content">
      <div style="margin-left: 10px; float: left; text-align: left;" class="notification-text">
	      <h4 style="display: block; line-height: 22px; margin-left: 0"></h4>
        <span class="reload hide">
          <span style="font-size: 0.857em;"><%= i18n.t('onboarding.retry') %> </span>
          <span class="countdown" style="display: block; line-height: 22px"></span>
          <a href="#" class="tryagain js-reload hide" style="display: block; line-height: 22px"><%= i18n.t('check.retry') %></a>
        </span>
        <a class="anchor hide"></a>
      </div>
    </div>
  </div>
</div>
