<div class="ringcaptcha widget">
<div class="box">
  <a href="http://ringcaptcha.com" target="_blank" class="brand" tabindex="-1">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="RingCaptcha">
  </a>
  <div class="wizard"></div>
</div>
</div>
<input type="hidden" name="ringcaptcha_session_id">
<input type="hidden" name="ringcaptcha_pin_code">
<input type="hidden" name="ringcaptcha_phone_number">
